API_URL=http://localhost:3000
DATABASE_URL=

ANTHROPIC_API_KEY="ANTHROPIC_API_KEY"
OPENAI_API_KEY="OPENAI_API_KEY"
GOOGLE_GENERATIVE_AI_API_KEY=""
OLLAMA_API_KEY="OLLAMA_API_KEY"

# Authentication
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000" # Base URL of your app
BETTER_AUTH_CLI_CLIENT_ID=""

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Billing
POLAR_ACCESS_TOKEN=""
POLAR_PRODUCT_ID=""
POLAR_SERVER="sandbox"
POLAR_CREDITS_METER_ID=""

# Deepgram
DEEPGRAM_API_KEY="DEEPGRAM_API_KEY"